<footer class="footer">
  <div class="container-full">
    <p><%= link_to 'WCC Web Styles', wcc_style.about_wcc_style_pages_path, :accesskey => "2" %> | <a href="http://www.warwickshire.gov.uk/">Warwickshire County Council</a></p>
    <p>Please contact the <a href="http://ictservicedesk/">ICT Service Desk Online</a> with any problems using this application</p>
    <p>
      <%= link_to 'Help and Accessibility', wcc_style.accessibility_wcc_style_pages_path, :accesskey => "0" %> |
      <a href="http://www.warwickshire.gov.uk/complaints" accesskey="7">Complaints</a> |
      <a href="http://www.warwickshire.gov.uk/disclaimer" accesskey="8">Privacy Policy</a>
    </p>
   </div>
</footer>