<%# navigation styled for Bootstrap 3.0 %>
<div class="subnav">
    <div class="container-full-indent">
  <nav class="navbar navbar-inverse">
    <div class="container-full">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sub-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse sub-nav">
        <%= render 'wcc_style/layouts/subnavigation_links' %>
      </div>
    </div>
  </nav>
      </div>
</div>
