<div class="row application-header" id="top-header">
  <div class="container-full-indent">
    <div class="pull-left" id="logo-wrap">
      <h1 id="main-header">WCC Web Styles</h1>
    </div>
  </div>
</div>