<footer>
  <div class="container">
  
    <div class="row">

      <div class="col col-sm-3">
        <aside id="text-7" class="widget widget_text">
          <div class="textwidget">
            <div style="text-align:center;padding-top:5px;">
              <img style="width:auto !important;" src="https://static.warwickshire.gov.uk/img/WCC+logo.png" alt="Warwickshire County Council">
            </div>
          </div>
        </aside>
      </div>

      <div class="col col-sm-3">
        <aside id="text-3" class="widget widget_text">
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/accessibility">Accessibility</a></p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/help">Help using the website</a></p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/disclaimer">Privacy and disclaimer</a></p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/contactus">Contact us</a></p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/az">A-Z of services</a></p></div>
        </aside>
      </div>

      <div class="col col-sm-2">
        <aside id="text-4" class="widget widget_text">
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/socialnetworking">Social media</p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/?page_id=976766">Services for...</a></p></div>
          <div class="textwidget"><p><a href="//www.warwickshire.gov.uk/customerservice">Customer service and complaints</a></p></div>
        </aside>
      </div>

      <div class="col col-lg-2">
        <aside id="text-6" class="widget widget_text">
          <div class="textwidget">
            <a href="https://public.govdelivery.com/accounts/UKWarwickshire/subscriber/new">
              <img class="keep_me_posted" src="https://static.warwickshire.gov.uk/img/keep me posted white on trans 155x39.png" alt="gov delivery">
            </a>
          </div>
        </aside>
        <aside id="text-11" class="widget widget_text">
          <div class="textwidget">
            <script type="text/javascript">
              function googleTranslateElementInit() {
                new google.translate.TranslateElement({pageLanguage: 'en', gaTrack: true, gaId: 'UA-9510501-3'}, 'google_translate_element');
              }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <div id="google_translate_element"></div>
          </div>
        </aside>
      </div>

    </div>

    <div class="row">
      <div class="span12">
        <p style="text-align:center;">
          © Warwickshire County Council
        </p>
      </div>
    </div>

  </div>
</footer>