<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-full">

    <div class="navbar-header">

       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="search btn-search pull-right" alt="Warwickshire County Council Search">
        <span class="glyphicon glyphicon-search icon-white"></span>
      </a>

      <a class="govdelmobile pull-right" alt="GDS logo" href="https://public.govdelivery.com/accounts/UKWarwickshire/subscriber/new">
        <img src="https://static.warwickshire.gov.uk/img/keep_me_posted_envelope_17px.png" alt="GDSl" style="width:17px;">
      </a>

      <a class="navbar-brand" alt="Warwickshire County Council logo" href="//www.warwickshire.gov.uk/">
        <img src="https://static.warwickshire.gov.uk/img/corpwhitelogo.png" alt="Warwickshire County Council">
      </a>

    </div>

    <div class="collapse navbar-collapse top-nav" id="left-topbar">
      <ul class="navbar-nav">

        <a class="gdslogo2" alt="GDS logo" href="https://public.govdelivery.com/accounts/UKWarwickshire/subscriber/new">
          <img src="https://static.warwickshire.gov.uk/img/keep_me_posted_envelope_17px.png" alt="GDSl" style="width:17px;">
        </a>

        <a class="gdstext" href="https://public.govdelivery.com/accounts/UKWarwickshire/subscriber/new">Email alerts</a>

        <li class="dropdown">
          <a href="//www.warwickshire.gov.uk/myaccount" class="sign-in">
            <span class="glyphicon glyphicon-user icon-user"></span>My account<b class=""></b>
          </a>
        </li>

        <li class="dropdown">
          <a href="//www.warwickshire.gov.uk" class="dropdown-toggle" data-toggle="dropdown">Residents<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.warwickshire.gov.uk/">Residents - home</a></li>
            <li><a href="http://www.warwickshire.gov.uk/environment">Environment</a></li>
            <li><a href="http://www.warwickshire.gov.uk/health">Health</a></li>
            <li><a href="http://www.warwickshire.gov.uk/librariesandleisure">Libraries and leisure</a></li>
            <li><a href="http://www.warwickshire.gov.uk/roadsandtravel">Roads and travel</a></li>
            <li><a href="http://www.warwickshire.gov.uk/registrations">Registrations</a></li>
            <li><a href="http://www.warwickshire.gov.uk/safetyandcrime">Safety and crime</a></li>
            <li><a href="http://www.warwickshire.gov.uk/schoolsandlearning">Schools and learning</a></li>
            <li><a href="http://www.warwickshire.gov.uk/socialcareandhealth">Social care and support</a></li>
            <li><a href="https://www.warwickshire.gov.uk/contactus">Customer service and contacts</a></li>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="//www.warwickshire.gov.uk/business" class="dropdown-toggle" data-toggle="dropdown">Business <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.warwickshire.gov.uk/business">Business - home</a></li>
            <li><a href="http://www.warwickshire.gov.uk/businesssupportorganisations">Business support organisations</a></li>
            <li><a href="http://www.warwickshire.gov.uk/growingyourbusiness">Growing your business</a></li>
            <li><a href="http://www.warwickshire.gov.uk/businesshealthandsafety">Health and safety for businesses</a></li>
            <li><a href="http://www.warwickshire.gov.uk/locatingyourbusiness">Locating your business</a></li>
            <li><a href="http://www.warwickshire.gov.uk/otherbusinessservices">Other business services</a></li>
            <li><a href="http://www.warwickshire.gov.uk/businessadvice">Regulatory business service and advice</a></li>
            <li><a href="http://www.warwickshire.gov.uk/startingabusiness">Starting a business</a></li>
          </ul>
        </li>
    
        <li class="dropdown">
          <a href="//www.warwickshire.gov.uk/corporate" class="dropdown-toggle" data-toggle="dropdown">The council <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://www.warwickshire.gov.uk/corporate">The council - home</a></li>
            <li><a href="http://www.warwickshire.gov.uk/democracy">Democracy</a></li>
            <li><a href="http://www.warwickshire.gov.uk/financeandsuppliers">Finance and suppliers</a></li>
            <li><a href="http://www.warwickshire.gov.uk/jobs">Jobs</a></li>
            <li><a href="http://www.warwickshire.gov.uk/listsanddata">Lists, data and information</a></li>
            <li><a href="http://news.warwickshire.gov.uk">News</a></li>
            <li><a href="http://www.warwickshire.gov.uk/organisation">Organisation</a></li>
            <li><a href="http://www.warwickshire.gov.uk/performance">Our performance</a></li>
            <li><a href="http://www.warwickshire.gov.uk/partnerships">Partnerships</a></li>
            <li><a href="http://www.warwickshire.gov.uk/policies">Policies, standards and legislation</a></li>
            <li><a href="http://www.warwickshire.gov.uk/projects">Projects</a></li>
            <li><a href="http://www.warwickshire.gov.uk/strategies">Strategies and priorities</a></li>
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="//www.warwickshire.gov.uk/onlineestate" class="dropdown-toggle" data-toggle="dropdown">More sites<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://countryparks.warwickshire.gov.uk/">Country Parks</a></li>
            <li><a href="http://hwb.warwickshire.gov.uk/">Health and Wellbeing</a></li>
            <li><a href="http://heritage.warwickshire.gov.uk/">Heritage and Culture</a></li>
            <li><a href="http://invest.warwickshire.gov.uk/">Invest in Warwickshire</a></li>
            <li><a href="http://www.warwickshire.gov.uk/jobs">Jobs</a></li>
            <li><a href="http://www.livingwellwithdementia.org/">Living well with dementia</a></li>
            <li><a href="http://laf.warwickshire.gov.uk/">Local Access Forum</a></li>
            <li><a href="//news.warwickshire.gov.uk/">News</a></li>
            <li><a href="http://publichealth.warwickshire.gov.uk/">Public Health</a></li>
            <li><a href="//www.warwickshire.gov.uk/spp">Staff, Partners and Practitioners</a></li>
            <li><a href="http://wwp.warwickshire.gov.uk/">Waste Partnership</a></li>
            <li><a href="http://whittlefordpark.warwickshire.gov.uk/">Whittleford Park</a></li>
          </ul>
        </li>   
      </ul>
      
      <form action="//sitesearch.warwickshire.gov.uk/kb5/warwickshire/search/results.page" method="get" name="kbs" class="navbar-form pull-right" id="site-search">

        <label for="qtbottom" class="skip" style="display:none;">Search again</label>
        <input class="span3" type="text" maxlength="1000" size="40" name="qt" id="qtbottom" alt="Search" placeholder="eg; libraries, roadworks">
        <button type="submit" value="Search" id="kbsubmitbottom" class="btn btn-mini searchbutton">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="row style-1-gradient" id="top-header">
  <div class="container">
    <div class="span12" style="height:100px;">
      <div class="row">
        <div class="row">
          <div class="span9">
            <form action="//sitesearch.warwickshire.gov.uk/kb5/warwickshire/search/results.page" method="get" name="kbs" class="mobile-search" id="site-search">
              <input class="span3" type="text" maxlength="1000" size="40" name="qt" id="qtbottom" alt="Search" placeholder="eg; libraries, roadworks">
              <button type="submit" value="Search" id="kbsubmitbottom" class="btn btn-mini searchbutton">Search</button>
            </form>
            <script type="text/javascript">
              var button = $('.btn-search');
              button.on('click', function () {
                  $('#top-header').toggleClass('show-search');
              });
            </script>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
