/****************** Site colour defaults ******************/
$banner-bg-color: #0055A1; 
$subnav-bg-color: #004888;
$subnav-link-color: #fff;
$link-color: #285e8e;
$primary-btn-color: #0055A1;
$primary-btn-focus: #004888;
$body-bg-color: #e6e6e6;
$footer-bg-color: #e6e6e6;
$main-bg-color: #eee;
$main-header-color: #fff;

@import "framework_and_overrides.css.scss";
@import "external_overrides.css.scss";