/****************** Site colour defaults ******************/
$banner-bg-color: #444444; 
$subnav-bg-color: #3d3d3d;
$subnav-link-color: #fff;
$link-color: #285e8e;
$primary-btn-color: #444444;
$primary-btn-focus: #3d3d3d;
$body-bg-color: #e6e6e6;
$footer-bg-color: #e6e6e6;
$main-bg-color: #eee;
$main-header-color: #fff;

@import "framework_and_overrides.css.scss";
@import "external_overrides.css.scss";