/****************** Site colour defaults ******************/
$banner-bg-color: rgb(0,109,60); 
$subnav-bg-color: #00542e;
$subnav-link-color: #fff;
$link-color: #285e8e;
$primary-btn-color: rgb(0,109,60);
$primary-btn-focus: #00542e;
$body-bg-color: #e6e6e6;
$footer-bg-color: #e6e6e6;
$main-bg-color: #eee;
$main-header-color: #fff;

@import "framework_and_overrides.css.scss";