/****************** Site colour defaults ******************/
$banner-bg-color: #fff;
$subnav-bg-color: #f8f8f8;
$subnav-link-color: #000;
$link-color: #285e8e;
$primary-btn-color: rgb(0,109,60);
$primary-btn-focus: #00542e;
$body-bg-color: #fff;
$footer-bg-color: #f8f8f8;
$main-bg-color: #fff;
$main-header-color: #47a447;

@import "framework_and_overrides.css.scss";